body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Style de navbar  */

.inamoto-logo-empresa{
width: 50px;
height: 50px;
}

.inamoto-logo-empresa img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}


/* Style banner inicio */

.inamoto-contenedor-banner-img img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}

/* Style card nuevo inicio */

.inamoto-contendor-grid-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem;
  padding: 1rem;
  justify-items: center;
}

.inamoto-card-text-height {
  height: 96px;
}


/* CONTACTO */

.card-form {
  background-color: #ffffff;
  border-radius: 0.5rem; /* rounded-lg en Tailwind */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* shadow-xl en Tailwind */
  padding: 2rem; /* p-8 en Tailwind */
}
/* Ajuste para que los mensajes de invalid-feedback aparezcan correctamente */
.form-control.is-invalid ~ .invalid-feedback {
  display: block;
}
/* Color para el encabezado del formulario */
.form-title {
  color: #212529; /* text-gray-900 en Tailwind, dark en Bootstrap */
}
/* Color para el texto descriptivo */
.form-description {
  color: #495057; /* text-gray-700 en Tailwind, secondary en Bootstrap */
}

/* FINAL CONTACTO */