/* Style banner inicio */

.inamoto-contenedor-banner-img img{
    width: 100%;
    object-fit: cover;
    height: 500px;
}

/* Style card nuevo inicio */

.inamoto-contendor-grid-card {
  display: grid;
grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem; 
  padding: 1rem; 
  justify-items: center;
}

.inamoto-card-text-height {
  height: 96px;
}
